data-base/iphone-8-plus-amir/testing
data-base/iphone-8-plus-amir/training
data-base/iphone-13-pro-amir/testing
data-base/iphone-13-pro-amir/training
data-base/iphone-14-plus-abeer/testing
data-base/iphone-14-plus-abeer/training
data-base/iphone-areeg/testing
data-base/iphone-areeg/training
data-base/iphone-hanaa/testing
data-base/iphone-hanaa/training
data-base/iphone14-pro/testing
data-base/iphone14-pro/training
.vscode/
__pycache__/
env/
myenv/
