matplotlib        3.9.0
numpy             1.26.4
opencv-python     4.10.0.82
pillow            10.3.0
pillow_heif       0.16.0
scipy             1.14.0
scikit-image      0.24.0
tifffile          2024.6.18
scikit-learn      1.5.1
pandas            2.2.2
xlsxwriter        3.2.0
openpyxl          3.1.5