matplotlib==3.7.1
numpy==1.23.5
opencv-python==4.10.0.84
pillow==9.5.0
pillow_heif==0.16.0
scipy==1.10.1
scikit-image==0.19.3
tifffile==2020.9.3
scikit-learn==1.5.1
pandas==1.5.3
xlsxwriter==3.0.2
openpyxl==3.1.5
